# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
Pipfile
.python-version
.vaultpass
bin/
lib/
setup-base/
setup-prod/
include/
scripts/images
build/
cache/
dist/
downloads/
eggs/
env/
develop-eggs/
lib64/
parts/
sdist/
ansible/ansible-playbook
ansible/files/insightvm/rapid7-insight-agent_4.0.13.32-1_amd64.deb
ansible/files/cortex/cortex-8.7.0.131661.sh
var/*
*.egg-info/
*.egg
.installed.cfg
.mr.developer.cfg
src/collective.contentleadimage
src/collective.easyslider/
src/collective.embedly/
src/collective.linkcheck
src/collective.saml2
src/dm.zope.saml2
src/isaw.bibitems
src/plone.app.imagecropping
src/plone.app.users


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# sublime text
*.sublime-*
op
