[buildout]
extends =
    development.cfg

parts -=
    client2
    omelette
    mkrelease
    coverage-report
    coverage-test

parts +=
    zeoserverold
    clientold


[zeo-host]
addressold = 8002


[client1]
zeo-address = ${zeo-host:address}

eggs +=
#    collective.exportimport
    plone.app.contenttypes


[clientold]
<= client1
http-address = 8080
zeo-address = ${zeo-host:addressold}

[zeoserverold]
<= zeoserver
zeo-address = ${zeo-host:addressold}

file-storage = /mnt/share/isaw/Data.fs.old
socket-name = var/zeoold.zdsock

[versions]

plone.api = 1.8.4
ijson = 3.1.4
Products.contentmigration = 2.2.2

#plone.app.event = 1.2.3
#plone.app.portlets = 3.0.0
#plone.app.widgets = 1.11